/** tools **/
.display-center {
    margin: auto;
    display: block;
}

.text-decoration {
    background: linear-gradient(0deg, #5328fe 50%, rgba(0, 0, 0, 0) 50%);
}

.clear {
    clear: both;
}

.caption {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #9e9e9e;
}

body {
    background-color: #111111;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

nav {
    box-shadow: none;
}

.menu--item a{
    font-size: 0.8rem;
}

/* header */
header .content {
    margin-top: 125px;
}

/** sections **/
section {
    padding: 50px 0;
}

section .title, header .title {
    font-size: 58px;
    font-family: "Merriweather";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.172;
}

/***** Hero *****/

.hero {
    padding-bottom: 150px;
}

.hero--text {
    padding-left: 25px !important;
}

.hero--intro {
    font-size: 14px;
    font-weight: bold;
    line-height: 4.857;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.hero--header {
    font-size: 58px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    line-height: 1.172;
    margin: 25px 0 0 0;
    overflow: hidden;
}

.separator {
    width: 150px;
    border: 1px solid;
    margin: 50px 0 50px -50px;
}

.hero--advice {
    font-size: 14px;
    width: 55%;
    line-height: 2.286;
}

.hero--social {
    transform: rotate(-90deg);
    width: 500px;
    margin-top: 450px;
    transform-origin: 20px 0;
}

.hero--social a {
    margin-left: 50px;
}

.hero--explore_more {
    transform: rotate(-90deg);
    width: 500px;
    margin-top: 250px;
    transform-origin: 100px;
}

/***** Hello *****/

.hello--photo {
    height: 525px;
    width: 350px;
    background-color: #FFF;
    margin: auto;
    position: relative;
}

.hello--photo img:first-child {
    position: absolute;
    z-index: 999;
}

.hello--decoration {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 120px;
    width: 500px;
    z-index: 1;
}

.hello--text_container {
    height: 75px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello--hello {
    font-size: 58px;
    font-family: "Merriweather";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.172;
    letter-spacing: 3px;
}

.hello--paragraph {
    width: 50%;
    margin: auto;
    font-size: 18px;
    font-family: "Merriweather";
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 2.222;
}

/** works **/

section .message {
    font-size: 14px;
    font-family: "Poppins";
    width: 55%;
    margin-bottom: 100px;
}

.row.works--gallery, .row.works--gallery .col {
    margin: 0;
    padding: 0;
}

.work--card {
    background-size: cover;
}

#photo1 {
    background-image: url("/elaniin/img/photos/autumn-goodman.jpg");
}

#photo2 {
    background-image: url("/elaniin/img/photos/luca-bravo.jpg");
}

#photo3 {
    background-image: url("/elaniin/img/photos/sam-burriss.jpg");
}

#photo4 {
    background-image: url("/elaniin/img/photos/nathan-dumlao.jpg");
}

#photo5 {
    background-image: url("/elaniin/img/photos/emre-gencer.jpg");
}

#photo6 {
    background-image: url("/elaniin/img/photos/yannis-papanastasopoulos.jpg");
}


.work--card.regular, .work--card.wide {
    height: 250px;
}

.work--card.tall {
    height: 500px;
}

/** statistics **/

section.statistics {
    padding: 200px 0;
}

.statistics .bottombar {
    width: 42%;
    border-bottom: 1px solid;
    display: inline-block;
}

.statistics .number {
    padding: 0 5px;
    margin-left: 3%;
    width: 45%;
    font-size: 48px;
    font-family: "Merriweather";
    font-weight: bold;
    line-height: 1.208;
}

.statistics .name {
    display: block;
    width: 50%;
    margin-left: 48%;
    font-size: 14px;
    font-family: "Poppins";
}

/* testimonials */

.leftbar {
    width: 50%;
    border-left: 1px solid;
    height: 100px;
    margin: 25px 0 25px 50%;
}

/* pricing **/


.pricing--item {
    height: 500px;
    background-size: cover;
    position: relative;
    padding: 0 !important;
    transition: transform 300ms ease;
    will-change: transform;
    z-index: 1;
}

.pricing--item:hover {
    transform: scale(1.1);
    z-index: 2;
}

.pricing--item_header {
    margin-left: 10px;
}

.pricing--header_separator {
border-bottom: 1px solid;
width: 10%;
}

.pricing--item_subheader {
    margin-left: 10px;
}

.pricing--description p {
    margin: 0;
}

.pricing--description .caption{
    display: block;
    margin-top: 22px;
}

.pricing--item.model {
    background-image: url('/elaniin/img/photos/andy-pena.jpg');
}

.pricing--item.events {
    background-image: url('/elaniin/img/photos/annie-spratt.jpg');
}

.pricing--item.corporate {
    background-image: url('/elaniin/img/photos/rawpixel.jpg');
}

.pricing--item.movies {
    background-image: url('/elaniin/img/photos/marcus-wright.jpg');
}

.pricing--item .opacity {
    background-color: #4c464624;
    position: absolute;
    width: 100%;
    height: 100%;
}

.pricing--description {
    padding: 0 5px;
}

.price {
    padding: 10px 5px;
    margin: 0 !important;
}

.price .number {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.price .medium-bar {
    width: 25px;
    border-bottom: 1px solid;
    margin-top: 20px;
    float: right;
}

.price .explore {
    margin-top: 10px;
}

section.plans {
    padding-bottom: 0;
}

/* section logotype */

section.brand {
    padding: 125px 0;
}

section.brand i{
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 5rem;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 300ms ease; transform: 150ms linear;
    will-change: opacity, transform;
}

section.brand i:hover{
    opacity: 0.9;
    transform: scale(1.1);
}

/* section newsletter */

section.newsletter {
    padding: 125px 0;
}

.newsletter h3 {
    letter-spacing: 5px;
    padding: 0 25px;
    font-size: 48px;
    font-family: "Merriweather";
    line-height: 1.417;
}

input {
    color: #FFF;
    margin-top: 15px !important;
    border: none !important;
    text-indent: 25px;
}

input:focus {
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.input-container {
    width: 50%;
}

.input-container div {
    height: 75px;
    display: inline;
}

.input-container .xleft {
    width: 80%;
    border: 1px solid;
    float: left;
}

.input-container .xright {
    width: 20%;
    border: 1px solid;
    display: table;
    float: none;
}

.xright p {
    margin:0; height:100%;
    text-align: center;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

/* footer **/

footer {
    padding: 50px 0;
}

footer p {
    text-align: center;
    font-size: 16px;
    font-family: "Merriweather";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.75;
}

footer span {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 2.333;
}

/****** About page *****/

.timeline .item {
    margin-bottom: 50px;
}

.timeline .photo-container {
    position: relative;
}

.timeline .number-left {
    position: absolute;
    font-size: 3.5rem;
}

.timeline .number-right {
    position: absolute;
    font-size: 3.5rem;
    right: 0;
}

.timeline img.photo {
    margin-top: 25px;
    width: 90%;
}

.timeline .text-container {
    padding-top: 50px;
}

.about-footer p.title {
    text-transform: none;
    font-size: 1.5rem;
}

.about-footer p.cation {
    text-transform: none;
    font-size: 0.8rem;
    color: #9e9e9e;
}

.about-footer .bottombar {
    border-bottom: 1px solid;
    width: 30px;
    margin-bottom: 25px;
}

.xvideo-container {
    position: relative;
    background-image: url("/elaniin/img/photos/olivier-collet.jpg");
    background-size: cover;
    height: 500px;
}

.btn-play {
    line-height: 100px;
    width: 100px !important;
    height: 100px !important;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* contact page */

section.contact .title{
    font-size: 58px;
    font-family: "Merriweather";
    font-weight: bold;
    line-height: 1.172;
}

.map-container {
    position: relative;
}
/* mobile */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

      .hero--header {
          font-size: 2rem;
      }

      .hero--separator {
          width: 75px;
          margin: 25px 0 25px -25px;
      }

      .hero--advice {
          font-size: 0.85rem;
          width: 100%;
          line-height: 1.85;
      }

      .hello--photo {
          max-width: 80%;
      }

      .pricing--item {
          transition: none;
      }

      .pricing--item:hover {
          transform: none;
      }

      .pricing--item .number{
          font-size: 1.5rem;
      }

      .pricing--item .medium-bar{
          width: 15px;
      }

      .pricing--item .explore{
          font-size: 0.9rem;
      }

      section.brand i{
          transition: none;
      }

      .newsletter h3 {
          font-size: 1.8rem;
          letter-spacing: 3px;
      }

      .right p {
          padding-top: 50%;
      }

      .input-container {
          width: 90%;
      }
}
